h1.title{ 
    text-align: center;
    background-color: cadetblue;
    box-shadow: 5px 5px 10px gray;
    padding: 0.5em;
    color: whitesmoke;
}
img.img1{
    width: 100%;
    margin: calc(9%/4);
}
*{box-sizing: border-box;}
section.flexcontainer{
    width: 80%;
    border: solid gray 5px;
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div.infoleft, div.inforight{
    width: 49%;
    border: solid blue;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
div.inforight{
    padding: 1em;
}
*{box-sizing: border-box;}
section.flexcontainer{
    width: 80%;
    border: solid gray 5px;
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div.sqr{
    height: 100px;
    width: 200px;
}