.home .max-width {
    width: 100%;
    display: flex;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.home {
    display: flex;
    background: url(images/banner.jpg) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;}
    
    section.infocontainer{
        width: 45%;
        margin: 2% 1%;
    }
 
