*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
:root{
    --primarycolor: rgb(0,0,0);
    --primarydark: rgb(128,0,0);
    --primarylight: rgb(255,128,128);
}

h1{
    background-color: var(--primarylight);
    text-align: center;
    padding: 1em;
    color: var(--primarycolor);
    
}
*{box-sizing: border-box;}

body{
    background-image: url(images/watch-background.jpg);
    background-repeat: repeat;
    background-position: cover;
    background-attachment: fixed;
    background-size: 105%;
    margin: 0px;
}